# Gradle files
.gradle/
build/

# Local config
local.properties

# IntelliJ/Android Studio
.idea/
*.iml

# Keystore (Very sensitive!)
*.jks

# Mac junk
.DS_Store

# NDK/Native
.cxx/
.externalNativeBuild/
