<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"
    tools:ignore="GradleOverrides">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OfflineFirebase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,RtlEnabled"
        tools:targetApi="donut">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6626454304064681~3880591107" />




        <activity
            android:name=".UpdatePrayerTimesActivity"
            android:exported="false" />

        <activity android:name=".LoginActivity"
            android:exported="true"> </activity>


        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".GothonTontro"
            android:exported="false" />
        <activity
            android:name=".Dhara_1"
            android:exported="false" />
        <activity
            android:name=".Dhara_19"
            android:exported="false" />
        <activity
            android:name=".Dhara_3"
            android:exported="false" />
        <activity
            android:name=".Dhara_4"
            android:exported="false" />
        <activity
            android:name=".Dhara_10"
            android:exported="false" />
        <activity
            android:name=".Committee"
            android:exported="false" />
        <activity
            android:name=".Dhara_22"
            android:exported="false" />
        <activity
            android:name=".Dhara_2"
            android:exported="false" />
        <activity
            android:name=".Dhara_5"
            android:exported="false" />
        <activity
            android:name=".Dhara_6"
            android:exported="false" />
        <activity
            android:name=".Dhara_7"
            android:exported="false" />
        <activity
            android:name=".Dhara_8"
            android:exported="false" />
        <activity
            android:name=".Dhara_9"
            android:exported="false" />
        <activity
            android:name=".Dhara_11"
            android:exported="false" />
        <activity
            android:name=".Dhara_12"
            android:exported="false" />
        <activity
            android:name=".Dhara_13"
            android:exported="false" />
        <activity
            android:name=".Dhara_14"
            android:exported="false" />
        <activity
            android:name=".Dhara_15"
            android:exported="false" />
        <activity
            android:name=".Dhara_16"
            android:exported="false" />
        <activity
            android:name=".Dhara_17"
            android:exported="false" />
        <activity
            android:name=".Dhara_18"
            android:exported="false" />
        <activity
            android:name=".Dhara_20"
            android:exported="false" />
        <activity
            android:name=".Dhara_21"
            android:exported="false" />
        <activity
            android:name=".Others_1"
            android:exported="false" />
        <activity
            android:name=".Ghosona"
            android:exported="false" />
        <activity
            android:name=".Mulniti"
            android:exported="false" />
        <activity
            android:name=".Omorbani"
            android:exported="false" />
        <activity
            android:name=".Onumodon"
            android:exported="false" />
        <activity
            android:name=".FullscreenImage"
            android:exported="false" />
    </application>

</manifest>